[DB_credentials]
user = writer_user
password = canary
host = localhost
database = geowiki

[broker_topics]
server = localhost:9092
topic = geowiki
writer_key = 1

[updatable_attributes]
continent = area,population
country = area,population,no_schools,no_hospitals,no_parks,no_rivers
city = area,population,no_schools,no_roads,no_trees,no_shops